{% extends "theme.html" %}
{% load member_tag_extras %}
{% block content %}
<h4>Add Book to Profile</h4>
<p>By adding a book to reference your poetry, viewers will be able to find more of your work by simply following the link of the cover image to acquire the book.</p>

<form action="{% url 'members:add_book' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <div>
		<button type="submit" class="btn btn-lg btn-success mt-4">Save</button>
	</div>
</form>

{% endblock %}
{% comment %}
Sources: 
https://getbootstrap.com/docs/4.0/components/forms/
https://docs.djangoproject.com/en/3.1/topics/forms/
https://getbootstrap.com/docs/4.0/utilities/text/
https://stackoverflow.com/questions/14268342/make-the-first-letter-uppercase-inside-a-django-template
{% endcomment %}