{% extends "theme.html" %}
{% load member_tag_extras %}
{% block content %}
<h4>Edit Profile Settings</h4>

	{% if success %}
<div class="alert alert-success" role="alert">
	That was a success.
</div>
	{% endif %}
	{% if error %}
<div class="alert alert-warning" role="alert">
	There was an error. Please try again!
</div>
	{% endif %}


<a class="btn btn-sm btn-secondary" href="{{ request.user|author_url }}" title="Poet Member Profile">View Profile</a>
<p>Here you will find more details about your membership profile such as settings in the system:</p>

	{% if request.user|member_tips_is:'some' or request.user|member_tips_is:'verbose' %}
	<div class="alert alert-info alert-dismissible fade show" role="alert">
		<strong>Settings</strong> for your membership plan including changing things like what your homescreen is as well as whether the search functionality is displayed automatically by default within the details of each Poem. In addition for Professional Poets, you may modify your bio, website, and make global content changes for your profile by specifying whether you would like to sell Poems as EFT's. In addition, you may also specify whether you want to display changes for made to your Poems. 
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}

<p>
	<span class="font-weight-bold">Pricing:</span> {{ request.user|member_pricing|title }}
</p>
<p><span class="font-weight-bold">Membership Standing:</span> {{ request.user|member_standing|title }}</p>

<form action="{% url 'members:edit_update' %}" method="post">
    {% csrf_token %}
    {{ user_form }}
	<button type="submit" class="btn btn-lg btn-success mt-4">Save</button>
</form>

<form action="{% url 'members:edit' %}" method="post" class="mt-3">
    {% csrf_token %}
    {{ form }}
	<button type="submit" class="btn btn-lg btn-success mt-4">Save</button>
</form>

{% if form_member_professional_profile is not False %}
<h6 class="mt-3">Professional Settings</h6>
<form action="{% url 'members:edit' %}" method="post">
    {% csrf_token %}
    {{ form_member_professional_profile }}
	<button type="submit" class="btn btn-lg btn-success mt-4">Save</button>
</form>
{% endif %}


{% if books %}
{% if books|length > 1 %}<h6 class="mt-3">Books</h6>{% endif %}
<div class="card-columns books mb-3 mt-3">
	{% for book in books %}
	<div class="card">
		<img class="card-img-top" src="{{ book.image.url }}" alt="{{ book.title }}">
		<div class="card-body">
		    <h5 class="card-title">{{book.title}}</h5>
	        <p class="card-text">{{ book.url }}</p>
		    <a href="/members/book/{{book.id}}/delete.html" class="btn btn-sm btn-warning"><i class="fas fa-trash-alt"></i> Delete</a>
		</div>
	</div>
	{% endfor %}
</div>
	{% if request.user|member_is_pro or request.user|member_is_unlimited %}
<a href="{% url 'members:add_book' %}" class="btn btn-sm btn-primary"><i class="fas fa-book"></i> Add Book</a>
	{% endif %}
{% else %}
<p class="mt-3"><a href="{% url 'members:add_book' %}" class="btn btn-sm btn-primary"><i class="fas fa-book"></i> Add Book</a></p>
{% endif %}


{% endblock %}
{% comment %}
Sources: 
https://getbootstrap.com/docs/4.0/components/forms/
https://docs.djangoproject.com/en/3.1/topics/forms/
https://getbootstrap.com/docs/4.0/utilities/text/
https://stackoverflow.com/questions/14268342/make-the-first-letter-uppercase-inside-a-django-template
{% endcomment %}