{% extends "theme.html" %}
{% load member_tag_extras %}
{% block content %}
<h4>Membership List</h4>
<p class="text-info">Here are the totals for inLoveLike membership:</p>
<p>Total Staff: {{ staff|length }}</p>
	<div class="card-columns staff mb-3">
		{% for user in staff %}
		<div class="card">
			<div class="card-body">
			    <h5 class="card-title"><a href="{{ user|author_url }}" rel="external"><i class="fas fa-users-cog"></i> <i class="fa fa-copyright" aria-hidden="true"></i> {{ user|author_title }}</a></h5>
			</div>
		</div>
		{% endfor %}
	</div>
<p>Total Members: {{ members|length }}</p>
{% endblock %}
