{% extends "theme.html" %}
{% load i18n %}

{% block content %}

<p>{% translate "Thanks for spending some quality time with inLoveLike today." %}</p>

<p><a href="{% url 'login' %}">{% translate 'Log in again' %}</a></p>

{% endblock %}
