{% extends "theme.html" %}

{% block title %}Login for Poets - inLoveLike - Poetry with Poems{% endblock %}
{% block seo_description %}Login for Poets into the site to maintain your very own Poetry{% endblock %}

{% block content %}

{% if form.errors %}
<p class="text-danger">Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p class="text-danger">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p class="text-info">Please login to see this page.</p>
    {% endif %}
{% endif %}
<p class="text-dark">Here you will find a login page for inLoveLike. Please continue by entering your username and password. Once logged in, you will be able to manage your EFT Purchases</p>
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
</table>

    <div class="g-recaptcha mt-3" data-sitekey="6LeheaIaAAAAAE1OtLK78emV-CFRWnLEbdX_gSsP"></div>

<input class="btn btn-lg btn-success mt-2" type="submit" value="Login">
<input type="hidden" name="next" value="{{ next }}">
</form>

 <div class="password-reset-link mt-3">
    <a href="{% url 'password_reset' %}">Forgotten your password? Reset your password here.</a>
  </div>


{% endblock %}