{% extends "theme.html" %}
{% load poem_tag_extras %}
{% load member_tag_extras %}
{% block content %}
<div class="members-profile">
	{% if success %}
	<div class="alert alert-success" role="alert">
		{% if success == 'save' %}
		Thank you, your profile has been saved.
		{% else %}
		That was a success.
		{% endif %}
	</div>
	{% endif %}
	{% if error %}
	<div class="alert alert-warning" role="alert">
		{% if error == 'save' %}
		There was an error saving your profile. Please try again.
		{% else %}
		There was an error. Please try again!
		{% endif %}
	</div>
	{% endif %}
	<h4>{{ profile_user_title }}'s Poet Profile</h4>
	{% if request.user.is_authenticated %}
	<p><a class="btn btn-sm btn-secondary" href="{% url 'members:edit' %}">Edit My Profile</a></p>
	{% endif %}

	{% if request.user|member_tips_is:'some' or request.user|member_tips_is:'verbose' %}
	<div class="alert alert-info alert-dismissible fade show" role="alert">
		<strong>Profiles</strong> of each member display things such as the Electronic File Tokens (EFT) that are collectively added and chosen to be displayed here, and books of reference.
		
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
		<span aria-hidden="true">&times;</span>
		</button>
	</div>
	{% endif %}

	{% if profile_user.is_staff %}
	<p><span class="font-weight-bold text-info"><i class="fas fa-users-cog"></i> Staff</span></p>
	{% endif %}

	<p><span class="font-weight-bold">Membership:</span> {{ profile_user|member_pricing|title }}</p>

	{% if profile_user|member_website %}
	<p class="text-success"><a href="{{ profile_user|member_website }}" rel="external">{{ profile_user|member_website }}</a></p>
	{% endif %}

	{% if profile_user|member_bio %}
	<p class="text-info">{{ profile_user|member_bio|linebreaks }}</p>
	{% endif %}

	{% if books %}

	{% if books|length > 1 %}<h6 class="mt-3">Books</h6>{% endif %}
	<div class="card-columns books mt-3 mb-3">
		{% for book in books %}
		<div class="card">
			<a href="{{ book.url }}" rel="external"><img class="card-img-top" src="{{ book.image.url }}" alt="{{ book.title }}"></a>
			<div class="card-body">
			    <h5 class="card-title"><a href="{{ book.url }}" rel="external">{{book.title}}</a></h5>
			</div>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	{% if eft_purchases %}

	<h6 class="mt-3">EFT Purchase Gallery</h6>
	<div class="members-profile-poems row row-cols-1 row-cols-md-1 mb-1">
	    {% for eft_purchase in eft_purchases %}
	    <a name="eft-{{ eft_purchase.guid }}"></a>
	    	<div class="col mb-4">
				<div class="card h-100 my-1 mx-3">				
				    <div class="card-body">
				{% if not eft_purchase.poem_title|poem_is_free %}
					{% if eft_purchase.resell_exclusion is False and eft_purchase.owner|member_sell_eft %}
				    	<div class="float-right">
					  	{% if eft_purchase|eft_purchase_is_resold %}
							<span class="btn btn-sm btn-warning text-light" data-toggle="tooltip" data-placement="left" title="Resold On: {{ eft_purchase|eft_purchase_is_resold|date:'F d, Y' }}"><i class="fas fa-coins"></i> EFT</span><a href="{{ request|host }}eft-{{ eft_purchase|eft_purchase_eft_sha512 }}.json" class="btn btn-sm btn-light ml-2" data-toggle="tooltip" data-placement="bottom" title="Click for the EFT File. It contains all the relevent data associated to this historical poem."><i class="fas fa-coins"></i></a>
							<a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#eft-purchase-history-{{ eft_purchase.sha512 }}"><i class="fas fa-history"></i></a>
						{% else %}
							<a href="/poems/eft-purchase-offer/{{ eft_purchase.guid }}/" class="btn btn-sm btn-success" data-toggle="tooltip" data-placement="left" title="Buy an Electronic File Token"><i class="fas fa-coins"></i> EFT{% if eft_purchase|eft_purchase_resell_cost %} {{ eft_purchase|eft_purchase_resell_cost|safe }}{% endif %}</a><a href="{{ request|host }}eft-{{ eft_purchase|eft_purchase_eft_sha512 }}.json" class="btn btn-sm btn-light ml-2" data-toggle="tooltip" data-placement="bottom" title="Click for the EFT File. It contains all the relevent data associated to this historical poem."><i class="fas fa-coins"></i></a>
							<a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#eft-purchase-history-{{ eft_purchase.sha512 }}"><i class="fas fa-history"></i></a>
						{% endif %}
						</div>
					{% endif %}
					{% if eft_purchase.resell_exclusion and eft_purchase.owner|member_sell_eft %}
				    	<div class="float-right">
				    		<a href="{{ request|host }}eft-{{ eft_purchase|eft_purchase_eft_sha512 }}.json" class="btn btn-sm btn-light ml-2" data-toggle="tooltip" data-placement="bottom" title="Click for the EFT File. It contains all the relevent data associated to this historical poem."><i class="fas fa-coins"></i></a>
							<a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#eft-purchase-history-{{ eft_purchase.sha512 }}"><i class="fas fa-history"></i></a>
				    	</div>
					{% endif %}
			{% else %}
				    	<div class="float-right">
							<a href="#" class="btn btn-sm btn-success ml-2" data-toggle="modal" data-target="#eft-purchase-free-{{ eft_purchase.id }}"><i class="fas fa-coins"></i> EFT is Free</a>
				    		<a href="{{ request|host }}eft-{{ eft_purchase|eft_purchase_eft_sha512 }}.json" class="btn btn-sm btn-light ml-2" data-toggle="tooltip" data-placement="bottom" title="Click for the EFT File. It contains all the relevent data associated to this historical poem."><i class="fas fa-coins"></i></a>
							<a href="#" class="btn btn-sm btn-light" data-toggle="modal" data-target="#eft-purchase-history-{{ eft_purchase.sha512 }}"><i class="fas fa-history"></i></a>
				    	</div>

<div class="modal fade" id="eft-purchase-free-{{ eft_purchase.id }}" tabindex="-1" role="dialog" aria-labelledby="poem-free-eft-{{ poem.guid }}-label" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="poem-free-eft-{{ poem.guid }}-label">Free EFT to Import</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Use the following SHA512 with no key and it will import this Poem into a EFT Here server or one of the minting servers such as inLoveLike.com.</p>
        <pre>EFT SHA512: {{ eft_purchase|eft_purchase_eft_sha512 }}</pre>
        <pre>EFT File: <a href="{{ request|host_no_slash }}/eft-{{ eft_purchase|eft_purchase_eft_sha512 }}.json">{{ request|host_no_slash }}/eft-{{ eft_purchase|eft_purchase_eft_sha512 }}.json</a></pre>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Proceed</button>
      </div>
    </div>
  </div>
</div>
			{% endif %}
						<div class="modal fade" id="eft-purchase-history-{{ eft_purchase.sha512 }}" tabindex="-1" role="dialog" aria-labelledby="eft-purchase-history-label-{{ eft_purchase.sha512 }}" aria-hidden="true">
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="eft-purchase-history-label-{{ eft_purchase.sha512 }}">Complete EFT Resell History</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      	{{ eft_purchase|eft_purchase_history|safe }}
						      </div>
						      <div class="modal-footer">
						        <button type="button" class="btn btn-primary" data-dismiss="modal">Proceed</button>
						      </div>
						    </div>
						  </div>
						</div>
						<h4 class="card-title">{{ eft_purchase.poem_title|striptags }}</a></h4>
						<h6>Author: <span {% if eft_purchase|eft_purchase_author_guid %}data-toggle="tooltip" data-placement="bottom" title="{{ eft_purchase|eft_purchase_author_guid }}"{% endif %}>{{ eft_purchase|eft_purchase_author_display }}</span></h6>
						<h6>Purchased: {{ eft_purchase.eft_purchased_on|date:'F d, Y' }}</h6>
		    		{% include 'poems/_eft_purchase_poem_body.html' with show_file=False %}	
					</div>
				</div>
			</div>
	    {% endfor %}
		</div>
	{% endif %}
</div>
{% endblock %}
{% comment %}
Sources:
https://docs.djangoproject.com/en/3.1/ref/templates/builtins/
{% endcomment %}
