{% extends "theme.html" %}
{% load poem_tag_extras %}
{% block content %}
<h4>EFT Housing and Reselling Registration</h4>
<p>Below you will find a simple form to create your account allowing you to import Electronic File Tokens (EFT) into the system and begin optionally reselling them at this server rate {{ False|eft_cost_per_byte|safe }}</p>
<p>inLoveLike does not charge for this membership, so please do enjoy your free account. Thank you!</p>

<form action="{% url 'register_eft' %}" method="post">
    {% csrf_token %}
    {{ form }}
	<div class="g-recaptcha mt-3" data-sitekey="6LeheaIaAAAAAE1OtLK78emV-CFRWnLEbdX_gSsP"></div>

	<button type="submit" class="btn btn-primary mt-4">Start housing any EFT and by choice resell them here!</button>
</form>

{% endblock %}
{% comment %}
Sources: 
https://getbootstrap.com/docs/4.0/components/forms/
https://docs.djangoproject.com/en/3.1/topics/forms/
{% endcomment %}