{% extends "theme.html" %}

{% block content %}
<div class="register">
	<p>Below you will find a simple form to submit your very first Poem with inLoveLike. After you have at least one Poem on file, we can continue to register your account. At this time, only Poets may register. Thank you!</p>

	<form action="{% url 'register' %}" method="post" class="recaptcha">
	    {% csrf_token %}
	    {{ form }}
	    <div class="poem-body-info poem-body" id="poem_body_info"></div>
		<div class="g-recaptcha mt-3" data-sitekey="6LeheaIaAAAAAE1OtLK78emV-CFRWnLEbdX_gSsP"></div>
		<button type="submit" class="btn btn-primary mt-4">Submit Poem and Register</button>
	</form>
</div>
{% endblock %}
{% comment %}
Sources: 
https://getbootstrap.com/docs/4.0/components/forms/
https://docs.djangoproject.com/en/3.1/topics/forms/
{% endcomment %}