{% extends "theme.html" %}
{% load i18n %}
{% load poem_tag_extras %}
{% load member_tag_extras %}
{% block content %}
<div class="members-intro">
	{% if success %}
	<div class="alert alert-success" role="alert">
		That was a success.
	</div>
	{% endif %}
	{% if error %}
	<div class="alert alert-warning" role="alert">
		There was an error. Please try again!
	</div>
	{% endif %}

{% if request.user.is_authenticated %}
	<h4 class="text-info">You are currently logged in.</h4>
	<p>
		Welcome to inLoveLike. We are gathered here for Poetry and the love we share for each Poem written. I would like initially to thank you for taking the time to fill out the registration. 
	</p>
	<p>Thank you sincerely,<br>Nathaniel Brown</p>
{% else %}
	<h2 class="text-warning">You are not logged in. Please <a href="{% url 'login' %}">log in here</a> to continue</h2>
{% endif %}
</div>
{% endblock %}
