body {
	display: block;
}
h1,
h3 {
	text-align: center;
}
h1 a {
	text-decoration: none !important;
}
ul {
	/*padding: 0em;*/
	/*list-style: none;*/
}
ul li {
	/*text-align: center;*/
	/*font-size: 2em;*/
}
footer p {
	text-align: center;
	font-size: 1em;
}

footer .logo a {
	text-decoration: none;
}

footer .logo span.selected,
.nav-logo span.selected,
.title span.selected {
	background: #007bff;
	color: white;
	text-decoration: underline;
}

.title-slogan {
	height: 128px;
	position: relative;
}

.title-slogan h1.title {
	position: absolute;
	top: 0;
	left: 0;
	line-height: 128px;
}

.title-slogan h1.title img {
	height: 128px;
}

.title-slogan h2 {
	position: absolute;
	top: 0;
	right: 0;
	line-height: 128px;
}

.errorlist {
	color: red;
}
.errorlist li {
	font-size: 1em;
}

.form-row {
	display: block !important;
}

.center,
.center * {
	text-align: center;
}
.nav-item {
	font-size: 1rem !important;
}
.nav-logo {
	padding: 0 1em 0 0;
}
.nav-logo a {
	color: black;
	font-size: 0.6em !important;
	text-decoration: none !important;
}
.h-auto {
	height: auto;
}
.word.selected {
	text-decoration: underline !important;
	background: #007bff;
	color: white !important;
}

.poems-index-featured .card-body {
    flex: 1 1 auto;
	text-align: center;
	font-size: 1cem;
}

.poems-index-featured .card-body .card-title {
	font-size: 2cem;
	/*font-size: 30px;*/
}

.poems-index-featured .card-body .card-text {
	/*font-size: 23px;*/
}

.poems-index .card-text a,
.poems-item .card-text a {
	text-decoration: none;
	color: black;
}

.poems-item .revision-title {
	padding: 0 0 0 20px;
}

.poems-item .plus,
.poems-item .minus,
.poems-item .go {
	cursor: pointer;
	margin: 0 10px 0 0;
}

.poems-item .poems-show .card-body,
.poems-item .poems-show * {
    flex: 1 1 auto;
	text-align: center;
	font-size: 1em;
}

.poems-item .poems-show .card-title {
	font-size: 2em !important;
	/*font-size: 30px;*/
}

.poem {
	text-align: center;
	border: 1px dotted grey;
}

.social-media {
	text-align: center;
}

.social-media p {
	text-align: center;
}

.help ul li {
	color: blue;
	font-size: 1em;
	text-align: left;
}

.investment ul li {
	/*font-size: 2em;*/
}

.social-media ul {
	padding: 0em;
	list-style: none;
}
.social-media ul li {
	text-align: center;
	font-size: 2em;
}

.poems-index .badge-pill,
.poems-my .badge-pill,
.poems-search .badge-pill,
.poems-search-advanced .badge-pill,
.members-profile .badge-pill,
.pages-index .badge-pill {
	font-size: 130%;
}

.poems-index ul li h6,
.poems-my ul li h6,
.poems-search ul li h6,
.poems-search-advanced ul li h6,
.members-profile ul li h6,
.pages-index ul li h6 {
	font-size: 120%;
}


/*
Sources:
https://css-tricks.com/snippets/css/give-clickable-elements-a-pointer-cursor/
https://getbootstrap.com/docs/4.0/utilities/text/
https://getbootstrap.com/docs/4.0/utilities/spacing/
*/;