{% load static %}
{% block content %}
	<ul>
		<li><a href="https://www.facebook.com/inlovelike/">Facebook</a></li>
		<li><a href="https://www.instagram.com/inlovelike_/">Instagram</a></li>
		<li><a href="https://twitter.com/inlovelike_">Twitter</a></li>
	</ul>
	<footer>
		<p>&copy; <a href="http://nshbrown.com/?inlovelike">Nathaniel Steven Henry Brown</a>. All Rights Reserved.</p>
	</footer>
{% load static %}

