{% extends 'theme.html' %}
{% load member_tag_extras %}
{% load poem_tag_extras %}
{% block content %}
<h4>inLoveLike SiteMap</h4>
<h5>Current as of {{ now|date:'Y-m-d' }}</h5>
<ul>
	<li>
		<a href="{{ request|host }}">Home</a> 
		<small>{{ poems_last_modified|mod_min|date:'Y-m-d' }}</small>
	</li>
<li>
	<a href="{{ request|host_no_slash }}{% url 'members:list' %}">Members List</a>
	<small>{{ False|mod_min|date:'Y-m-d' }}</small>
</li>
<li>
	<a href="{{ request|host_no_slash }}{% url 'login' %}">Login</a>
	<small>{{ False|mod_min|date:'Y-m-d' }}</small>
</li>
<li>
	<a href="{{ request|host_no_slash }}{% url 'register_eft' %}">Register for Electronic File Tokens</a>
	<small>{{ False|mod_min|date:'Y-m-d' }}</small>
</li>
</ul>
{% endblock %}