{% extends "theme.html" %}
{% load i18n %}
{% block title %}Password Reset - inLoveLike - Poetry with Poems{% endblock %}
{% block seo_description %}Password reset for Poets in case you may have misplaced or lost your password. Handy for poets that have their email ready.{% endblock %}
{% block content %}

<p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% translate 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <input class="btn btn-lg btn-warning mt-2" type="submit" value="{% translate 'Reset my password' %}">
</fieldset>
</form>

{% endblock %}
