{% load poem_tag_extras %}
{% load member_tag_extras %}
{% if request.user.is_staff and eft_purchase.owner != request.user %}
<a href="/admin/poems/eft_purchase/{{ eft_purchase.id }}/change/" {% if eft_purchase|eft_purchase_is_resold %}class="text-warning"{% endif %}><i class="fas fa-pen"></i></a> 
{% elif eft_purchase.owner == request.user %}
<a href="/poems/eft_purchases.html" {% if eft_purchase|eft_purchase_is_resold %}class="text-warning"{% endif %}><i class="fas fa-pen"></i></a>
{% endif %}


