{% load poem_tag_extras %}
{% load member_tag_extras %}

{% if eft_purchase.poem_title|poem_is_file %}
	{% if eft_purchase.file_cache|poem_file_cache_is_image %}

<div class="card-body"><img src="/media/{{ eft_purchase.file_cache }}" class="mw-100" /></div>

	{% elif eft_purchase.file_cache|poem_file_cache_is_audio %}

<div class="card-body"><audio controls class="mw-100">
	<source src="/media/{{ eft_purchase.file_cache }}" type="audio/mp4" />
	<p>Your browser does not support HTML5 audio.</p>
 </audio></div>
	 {% elif eft_purchase.file_cache|poem_file_cache_is_video %}
<div class="card-body"><video controls class="mw-100">
	<source src="/media/{{ eft_purchase.file_cache }}">
	<p>Your browser does not support the video element. Kindly update it to latest version.</p>
</video></div>
	{% endif %}
	{% if show_file %}
<div class="card-body">File Location: <a href="/media/{{ eft_purchase.file_cache }}">/media/{{ eft_purchase.file_cache }}</a></div>
	{% endif %}
{% else %}

	{% if eft_purchase.poem_title|poem_is_code_full %}
<pre class="text-left">{{ eft_purchase.poem_body|escape|poem_as_display_code_full|safe }}</pre>
	{% elif eft_purchase.poem_title|poem_is_code %}
<pre class="text-left">{{ eft_purchase.poem_body|escape|poem_as_display_code|safe }}</pre>
	{% else %}
<div class="card-text">{{ eft_purchase.poem_body|linebreaks|safe }}</div>
	{% endif %}

{% endif %}	
{% comment %}
Sources:
https://wpbeaches.com/html-5-set-up-audio-across-all-browsers-using-m4a-oga-mp3/
{% endcomment %}