{% load poem_tag_extras %}
{% load member_tag_extras %}
<h6 class="text-nowrap"><a name="poem-{{poem.id}}"></a>
	{% if request.user.is_authenticated %}
        {% include 'poems/_eft_purchase_edit.html' %}
	{% endif %}

	<a href="{{ eft_purchase.owner|author_url }}#eft-{{ eft_purchase.guid }}" title="{{poem.title}}" {% if eft_purchase|eft_purchase_is_resold %}class="text-warning"{% endif %}>
	{% if eft_purchase.resell_exclusion %}
		<i class="fas fa-eye-slash btn-lg"></i> 
	{% else %}
		<i class="fas fa-eye btn-lg"></i> 
	{% endif %}
		<span class="bold">{{ eft_purchase.poem_title|poem_title_short|striptags }}</span>
	</a>
</h6>
<span class="badge badge-primary badge-pill h6" data-toggle="tooltip" data-placement="left" title="Started: {{ eft_purchase.imported_on|date:'F d, Y' }}"><i class="fas fa-hourglass-start"></i></span>