{% extends "theme.html" %}
{% load i18n %}
{% load static %}
{% load page_tag_extras %}
{% load member_tag_extras %}
{% load poem_tag_extras %}
{% block content %}

	{% if success %}
<div class="alert alert-success" role="alert">
	Success! Thank you for the submission regarding the purchase of a poem. The author may be in contact about details of sale depending upon approval.
</div>
	{% endif %}
	{% if error %}
<div class="alert alert-warning" role="alert">
		{% if error == 'profile' %}
	There was an error loading that profile.
		{% else %}
	There was an error.
		{% endif %}
</div>
	{% endif %}

<h4>Purchase a piece of poetry as an EFT</h4>

<p>Below you will find a simple form to request this Poem to be purchased as an EFT ("Electronic File Token"). Simply submit how much and complete with contact details and the author, {{eft_purchase.owner|author|safe}}, will be in touch about the sale.</p>

<h6 class="text-info">Poem Title</h6>
<pre>{{eft_purchase.poem_title}}</pre> 
<h6 class="text-info">Poem Body</h6>

{% if eft_purchase.poem_title|poem_is_code %}
<pre class="text-left">{{ eft_purchase.poem_body|poem_as_display_code }}</pre>
{% else %}
<div class="card-text">{{ eft_purchase.poem_body|striptags|linebreaks }}</div>
{% endif %}

<div class="alert alert-success" role="alert">
	<h4 class="alert-heading">Example Electronic File Token (EFT)</h4>
	<p>Here you will find an example EFT in the form of a SHA512 value and a URL that it converts into that will similarily be sent upon successful completion with purchase of a bid started on this page.</p>
	<pre>EFT SHA512: 0c0d0185c0c2d6b15faa829bc2be433e624f06f04db47ebe406653824cd4802fd48fb30cda38787093ec7513e0e22390b13b8965d83760f989ee5fbdbfafa630</pre>
	<pre>EFT File: <a href="https://d.inlovelike.com/eft-0c0d0185c0c2d6b15faa829bc2be433e624f06f04db47ebe406653824cd4802fd48fb30cda38787093ec7513e0e22390b13b8965d83760f989ee5fbdbfafa630.json">https://d.inlovelike.com/eft-0c0d0185c0c2d6b15faa829bc2be433e624f06f04db47ebe406653824cd4802fd48fb30cda38787093ec7513e0e22390b13b8965d83760f989ee5fbdbfafa630.json</a></pre>
		<ul>
		<li>This is an exclusive sale. There may only be one EFT sold per Poem.</li>
		<li>There is no minimum price, but please do be respectful of the effort made to create this Poem.</li>
		<li>The EFT is specifically a token that references all data related to the Poem including all change history.</li>
		<li>The EFT is used within the inLoveLike systems in order to reference all final data of a Poem</li> 
	</ul>
	<p>Once acquired, you may use the EFT here by importing and displaying it on your profile.</p>
</div>

<p>Cost of EFT <span class="btn btn-lg btn-dark text-warning">{{ eft_purchase|eft_purchase_resell_cost|safe }}</span>. Based on a valuation of {{ poem|eft_cost_per_byte|safe }} per tokened byte of data.</p>


<form action="/poems/eft-purchase-offer/{{ eft_purchase.guid }}/" method="post">
    {% csrf_token %}
    {{ form }}
	<button type="submit" class="btn btn-primary mt-2">Create Offer</button>
</form>

{% endblock %}
{% comment %}
Sources: 
{% endcomment %}