{% extends 'theme.html' %}
{% load static %}
{% load page_tag_extras %}
{% load poem_tag_extras %}
{% load member_tag_extras %}
{% block content %}
<div class="poems-efts">
    {% if success %}
<div class="alert alert-success" role="alert">
    That was a success.
</div>
    {% endif %}
    {% if error %}
<div class="alert alert-warning" role="alert">
        {% if error == 'download' %}
    There was an error downloading the EFT.
        {% else %}
    There was an error. Please try again!
        {% endif %}
</div>
    {% endif %}    
	{% if resell_offers|length > 0 %}
        <h5 class="mt-3 text-info">Resell Sales</h5>
        {% if resell_offers|length > 0 %}
        <div class="list-group">
            {% for offer in resell_offers %}
            <span class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{% if offer.sold %}Approved sale to{% else %}Requested by{% endif %} {{ offer.name }} for {{ offer.price|cost_as_display|safe }}</h5>
                    <small>{{ eft.created|date:'F d, Y' }}</small>
                </div>
                {% if eft.comment %}
                <p class="mb-1">Comment: {{ offer.comment }}</p>
                {% endif %}
                <p class="mb-1">EFT Purchase: "{{ offer.eft_purchase.poem_title }}" - #{{ offer.eft_purchase.guid }}</p>
                <p class="mb-0 text-warning">Cost of EFT: <span class="btn btn-sm btn-dark text-warning">{{ offer.eft_purchase|eft_purchase_resell_cost|safe }}</span></p>
                <small><a href="mailto:{{ offer.email }}">Email: {{ offer.email }}</a></small>
                {% if offer.destination %}
                <p class="mb-1">Destination: {{ offer.destination }}</p>
                {% endif %}
                {% if offer.sold or offer.eft_purchase|eft_purchase_is_sold %}
                    {% if offer.sold %}
                        <p class="text-danger mt-1"><a href="{{ request|host }}eft-{{ offer.eft_purchase|eft_purchase_eft_sha512 }}.json" class="btn btn-sm"><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="EFT File that is private to the seller and the purchaser"></i></a> EFT SHA512 <input type="text" value="{{ offer.eft_purchase|eft_purchase_eft_sha512 }}" class="w-50"/></p>

                        <p class="text-danger mt-1"><i class="fas fa-info-circle btn btn-sm" data-toggle="tooltip" data-placement="bottom" title="EFT File that is shall be send to the purchaser"></i> Transfer Key <input type="text" value="{{ offer.key }}" class="w-50"/></p>

                        {% if request.user.is_staff %}
                        <a class="btn btn-sm btn-danger float-right mr-2" href="/poems/eft-purchase-offer-refund/{{ offer.guid }}/">Refund EFT</a>
                        {% endif %}
                    {% endif %}
                {% else %}
                    <a class="btn btn-sm btn-success float-right" href="/poems/eft-purchase-offer-sold/{{ offer.guid }}/">Agree and Sell EFT</a>
                {% endif %}
            </span>
            {% endfor %}
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading text-left"></h4>
            <p>Unfortunately, there are simply no EFT that are being resold with offers on them at this time.</p>
        </div>
        {% endif %}

    {% else %}
  		<h4 class="text-warning">There are no original EFT offers found.</h4>
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading text-left"></h4>
      		<p>Unfortunately, there are simply no EFT's that have been requested at this time.</p>
        </div>
    {% endif %}
    </div>
{% endblock %}