{% extends 'theme.html' %}
{% load static %}
{% load page_tag_extras %}
{% load poem_tag_extras %}
{% load member_tag_extras %}
{% block content %}
<div class="poems-commissions">
<h4 class="text-info mb-4">EFT Purchases</h4>
	{% if success %}
<div class="alert alert-success" role="alert">
		{% if success == 'import' %}
	Thank you, your EFT purchase has been imported.{% if message %} "{{ message }}".{% endif %} 
		{% else %}
	That was a success.{% if message %} "{{ message }}".{% endif %} 
		{% endif %}
</div>
	{% endif %}
	{% if error %}
<div class="alert alert-warning" role="alert">
		{% if error == 'import' %}
	There has been an error while importing a EFT purchase.{% if message %} "{{ message }}".{% endif %}
		{% elif error == 'unauthorized' %}
	You are not authorized to touch that EFT purchase.{% if message %} "{{ message }}".{% endif %}
		{% else %}
	There was an error.{% if message %} "{{ message }}".{% endif %} Please try again!
		{% endif %}
</div>
	{% endif %}
	{% if eft_purchases %}
<p>All your EFT purchases on inLoveLike.</p>
{% if request.user|member_tips_is:'some' or request.user|member_tips_is:'verbose' %}
<div class="alert alert-info alert-dismissible fade show" role="alert">
	Here you will find all the <strong>EFT Purchases</strong> in your account. When you add an EFT through the use of the form at the bottom of this page, you will see your Profile includes the EFT by default. Simply click the button to hide it from your profile if you so design. Verifying an EFT links to a potential remote server that has been approved. If you see True for success, then it's valid. 
	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	<span aria-hidden="true">&times;</span>
	</button>
</div>
{% endif %}
<div class="list-group eft_purchases">
	{% for eft_purchase in eft_purchases %}
	<div class="eft_purchase list-group-item list-group-item-action mb-2">
		{% if eft_purchase.valid %}
        <div class="d-flex w-100 justify-content-between">
	        <h5 class="mb-1 title"><a href="{% url 'poems:eft_purchases' %}" class="btn btn-lg btn-info">{{ eft_purchase.poem_guid }}</a></h5>
	        <div>
		        <small>{{ eft_purchase.version }}</small><br />
		        <small>Purchased on: {{ eft_purchase.eft_purchased_on|date:'F d, Y'  }}</small><br />
		        <small>Imported on {{ eft_purchase.imported_on|date:'F d, Y' }}</small>
	    	</div>
	    </div>
        <p class="mb-1">
        	Source: {{ eft_purchase.source }}<br />
			{% if not eft_purchase.poem_title|poem_is_free %}
	        	Cost: <span class="btn btn-sm btn-dark text-warning">{{ eft_purchase.cost|cost_as_display|safe }}</span>
	        	{% if eft_purchase.price %}<br>
	        	Bid: <span class="btn btn-sm btn-dark text-warning">P{{ eft_purchase.price|cost_as_display}}</span>
	        	{% endif %}
	        	Selling: <span class="btn btn-sm btn-dark text-warning">{{ eft_purchase|eft_purchase_resell_cost|safe }}</span>
	        {% else %}
	        	Cost: <span class="btn btn-sm btn-dark text-warning">{{ 0|cost_as_display|safe }}</span>	        
	        {% endif %}
        </p>	
        <p><small><span class="font-weight-bold">EFT SHA612:</span> {{ eft_purchase.sha512 }}</small></p>
        <small><span class="font-weight-bold">Poem Title:</span> {{ eft_purchase.poem_title }}</small>
        <div><small><span class="font-weight-bold">Poem Body:</span></small></div>

	    {% include 'poems/_eft_purchase_poem_body.html' with show_file=True %}	
    	
	        {% if eft_purchase.visible %}
        <a href="/poems/eft-purchase-gallery/{{ eft_purchase.id }}/" class="btn btn-sm btn-warning mt-3">Remove from Profile</a>
        <a href="{{ request.user|author_url }}#eft-{{ eft_purchase.guid }}" class="btn btn-sm btn-info mt-3">View in  Profile</a>
	        {% else %}
        <a href="/poems/eft-purchase-gallery/{{ eft_purchase.id }}/" class="btn btn-sm btn-success mt-3">Add to Profile's EFT Gallery</a>
			{% endif %}
			{% if not eft_purchase.poem_title|poem_is_free %}
	        	{% if eft_purchase.resell_exclusion %}
	        <a href="/poems/eft-purchase-resell/{{ eft_purchase.id }}/" class="btn btn-sm btn-success mt-3">Resell EFT</a>
				{% else %}
	        <a href="/poems/eft-purchase-resell/{{ eft_purchase.id }}/" class="btn btn-sm btn-warning mt-3">Don't Resell EFT</a>
			    {% endif %}
			{% endif %}
        
        <a href="{{ eft_purchase.source }}poems/eft-verify/{{ eft_purchase.sha512 }}.json" class="btn btn-sm btn-success ml-3 mt-3 float-right">Verify EFT</a>
		{% else %}
        <h5 class="mb-1 title">Invalid EFT Purchase {% if eft_purchase.poem_guid %}<small>{{ eft_purchase.poem_guid }}</small>{% endif %}</h5> 
       	{% endif %}		
       	{% if request.user.is_staff %}
        <a href="/poems/eft-purchase-remove/{{ eft_purchase.id }}/" class="btn btn-sm btn-danger ml-3 mt-3 float-right">Remove EFT Purchase</a>
        {% endif %}

	</div>
	{% endfor %}
</div>

	{% else %}
<p class="text-info">You currently have no EFT purchases with inLoveLike.</p>
	{% endif %}



	<div class="card h-100 my-1 mx-3 my-3">				
	    <div class="card-body">
			<div class="alert alert-success alert-dismissible fade show" role="alert">
				<p>Importing an <strong>EFT Purchase</strong> is quite simple. Simply choose either the Development or alternative server and enter in the SHA512 Electronic File Token and click Fetch EFT. Once completed, the page will refresh with a message. You can acquire SHA512 EFT's by completing the process behind bidding on them through the access of the Poem</p>
				<ul>
					<li>V2 means it has been verified twice. Once in the browser and another within the code</li>
					<li>V1W1 means it has been verified once within the browser and is on the whitelist within the code.</li>  

				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<h4 class="card-title">Import EFT Purchase</h4>
			<form class="eft-purchase-upload-ajax" action="{% url 'poems:eft_purchase_upload_ajax' %}" method="post">
				<div class="d-none data-destination" data-destination="{{ request|host }}"></div>
			    {% csrf_token %}
			    {{ form_eft_ajax }}
				<button type="submit" class="btn btn-primary mt-2" data-loading="true">Fetch EFT</button>
			</form>
		</div>
	</div>

</div>
{% endblock %}
{% comment %}
Sources:
https://getbootstrap.com/docs/4.0/components/alerts/
{% endcomment %}