{% extends 'theme.html' %}
{% load static %}
{% load poem_tag_extras %}
{% load member_tag_extras %}
{% block content %}
    <div class="poems-search">
	{% if eft_purchase_matches|length > 0 %}
		<h4 class="text-secondary">All Poems Matching "{{ term }}"</h4>
		<ul class="list-group">
	    {% for eft_purchase in eft_purchase_matches %}
    		<li class="list-group-item d-flex justify-content-between mb-2">
                {% include 'poems/_search_eft_purchase_item.html' %}
    		</li>
	    {% endfor %}
    	</ul>
    {% else %}
  		<h4 class="text-warning">There are no Poems Matching "{{ term }}".</h4>
  		<p class="text-info">Sorry, there are no poems that match that phrase.</p>
    {% endif %}
    </div>
{% endblock %}