{% extends 'theme.html' %}
{% load static %}
{% load poem_tag_extras %}
{% load member_tag_extras %}
{% block content %}
<div class="poems-search-advanced">
    <h4 class="text-info"><i class="fas fa-cogs"></i> Advanced Search</h4>
    <p>Below you will find options to customize what Poems to locate.</p>

    <form action="{% url 'search_advanced' %}" method="get">
    {% if q_get or badge_ids_get or lines_get or words_get or characters_get %}
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">Keywords</span>
            </div>
            <input type="text" class="form-control" name="q" value="{{ q_get }}" aria-label="Keywords" aria-describedby="inputGroup-sizing-sm">
        </div>
    {% else %}
        <div class="input-group input-group-lg">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">Keywords</span>
            </div>
            <input type="text" class="form-control" name="q" aria-label="Keywords" aria-describedby="inputGroup-sizing-lg">
        </div>
    {% endif %}
        <div class="custom-control custom-switch mt-2 mb-2 float-left">
            <input type="checkbox" class="custom-control-input" name="case_sensitive" value="True" id="flexSwitchCaseSensitive" {% if case_sensitive_get %}checked="checked"{% endif %}>
            <label class="custom-control-label" for="flexSwitchCaseSensitive"> <span class="btn btn-sm btn-light mr-3">Case Sensitive</span></label>
        </div>    
        
        <br style="clear: both" />

         <button type="submit" class="btn btn-lg btn-success mt-3"><i class="fas fa-cogs"></i> Search</button>
         <a class="btn btn-lg btn-danger text-light ml-2 mt-3" href="{% url 'search_advanced' %}">Reset</a>
    </form>
	{% if eft_purchase_matches|length > 0 %}
	<h4 class="text-secondary mt-4">{{ eft_purchase_matches|length }} Matches Found</h4>
	<ul class="list-group">
	    {% for eft_purchase in eft_purchase_matches %}
    	<li class="list-group-item d-flex justify-content-between mb-2">
          {% include 'poems/_search_eft_purchase_item.html' %}
      </li>
	    {% endfor %}
	</ul>
    {% else %}
        {% if q_get %}
            <h4 class="text-secondary mt-4">No Results</h4>
            <p class="mt-4 text-info">There are no results found. Please refine your search and try again.</p>
        {% endif %}
    {% endif %}
</div>
{% endblock %}
{% comment %}
Sources:
https://getbootstrap.com/docs/4.0/layout/grid/
{% endcomment %}