{% extends "theme.html" %}
{% block content %}
<div class="pages-index">
	<h4>Welcome to the Here EFT Server by inLoveLike</h4>

{% if eft_purchases|length > 0 %}
	<h6 class="text-secondary mt-4 mb-3">On this server alone, there are {{ eft_purchases|length }} Electronic File Tokens housed</h6>
	<ul class="list-group">
    {% for eft_purchase in eft_purchases %}
		<li class="list-group-item d-flex justify-content-between mb-2">
		{% include 'poems/_search_eft_purchase_item.html' %}
		</li>
    {% endfor %}
	</ul>
{% endif %}

</div>
{% endblock %}
